<div class="container">
  <h1>Login Page</h1>
  <form>
    <div class="form-group">
      <label for="username">Email address</label>
      <input type="email" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>

    <button type="button" class="btn btn-primary">Submit</button>
  </form>
</div>
